version: "3.8"
services:
  db:
    image: postgres:15.4-alpine
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: "Asia/Tokyo"
    ports:
      - "5432:${DB_PORT}"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    environment:
      SERVER_ADDRESS: ${SERVER_ADDRESS}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      FROM_EMAIL: ${FROM_EMAIL}
      SECRET_KEY: ${SECRET_KEY}
      REDIS_ADDRESS: ${REDIS_ADDRESS}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_DB: ${REDIS_DB}
    volumes:
      - .:/twitter_clone
    ports:
      - "1323:1323"
    depends_on:
      db:
        condition: service_healthy

  mail:
    image: schickling/mailcatcher
    ports:
      - "1025:1025"
      - "1080:1080"

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    volumes:
      - "redis_data:/data"

volumes:
  db_data:
  redis_data:
